/.vscode
Centroid.class
Coordinates.class
fut17text.txt
fut17text1.txt
Main.ctxt
package.bluej
Sample.class
Sample.ctxt
samples1.txt
SetSamples.class
SetSamples.ctxt
Main.class
Coordinates.ctxt
Centroid.ctxt